/*  your css code here. If applicable */
p#yellow{
	border-style:solid;
	border-color:green;
	border-top-width:3px;
	background-color:yellow;
}
p#red{
border-style:solid;
	border-color:black;
	border-top-width:3px;
	background-color:red;
}

p#green{
	border-color:yellow;
	border-top-width:3px;
	background-color:green;
	border-style:solid;
}